#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "LanPlay IDD-LAB 1080p120"
#define VER_INTERNALNAME_STR        "LanPlayIddLab"
#define VER_ORIGINALFILENAME_STR    "LanPlayIddLab.dll"

#include "common.ver"